@mixin black-white-btn {
  padding: 15px 50px;
  font-size: 18px;
  font-family: $font-open-sans-bold;
  line-height: 16px;
  background-color: #ffffff;
  color: $font-color-grey;
  text-transform: uppercase;
  border: 2px solid $font-color-grey;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

@mixin black-white-btn-hover {
  background-color: $font-color-grey;
  color: #ffffff;
}
@mixin black-white-btn-down {
  background-color: $font-color-grey;
  color: #8d8d8d;
}
@mixin title-h2 {
  font-family: $font-open-sans-bold;
  color: $font-color-black;
}

@mixin mobile-widths {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin tablet-widths {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 37px;
  box-sizing: border-box;
}

@mixin desktop-widths {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

@mixin header-back {
  background-color: #f9f9f9;
  background-position: 100px 89px;
  background-repeat: no-repeat;
}




