$bg-grey: #f1f1f1;
$turquoise: #63d1bb;
$dark-turquoise: #56c3b2;
$font-color-grey: #444444;
$font-color-black: #000000;
$font-hover-text: #8d8d8d;
$font-down-text: #cacaca;
$font-open-sans: 'Open Sans', Arial, sans-serif;
$font-open-sans-bold: 'Open Sans Bold', Arial, sans-serif;


* {
  margin: 0;
  padding: 0;
}

svg {
  display: none;
}

.svg-visible {
  display: block;
  height: 100%;
}

.svg-visible:hover {
  fill: #46c1ae;
}

.svg-visible:active {
  fill: #bde3dd;
}
