.form__text, .form__type, .form__color, .form__data, .form__contact-tel, .form__contact-mail, .form__add  {
  display: flex;
}
.form__text {
  font-family: $font-open-sans;
}
.form__type{
  width: 100%;
}
.form__type label:hover:before {
   border-color: #62d1ba;
}
.form__type label:active:before {
  border-color: #cbcbcb;
}
.form input, label {
  display: flex;
  margin-bottom: 22px;
  font-family: $font-open-sans-bold;
  outline: none;
  line-height: 44px;
}
.form__color label {
  vertical-align: top;
  display: inline-flex;
}
.form [type="checkbox"], .form [type="radio"] {
  display: none;
}
.form label {
  cursor: pointer;
  position: relative;
  padding-left: 11px;
  margin-right: 15px;
}
.icon-phone, .icon-mail {
  fill: #c1c1c1;
}
.icon-phone, .icon-mail {
  position: absolute;
  right: 0;
  bottom: 7px;
}

.form__type label:before {
  display: inline-flex;
  content: "";
  width: 50px;
  height: 50px;
  margin-right: 27px;
  background-color: #ffffff;
  border: 2px solid $font-color-grey;
  border-radius: 50%;
}
.form__color label:before {
  display: inline-flex;
  content: "";
  width: 50px;
  height: 50px;
  margin-right: 27px;
  background-color: #f1f1f1;
  border: 2px solid $font-color-grey;
}
.form__color label:hover:before {
  border-color: #62d1ba;
}
.form__color label:active:before {
  border-color: #cbcbcb;
}
.form__type input[type=radio]:checked + label:before {
  display: block;
  content: "\2022";
  color: #62d1ba;
  font-size: 82px;
  text-align: center;
  line-height: 42px;
}
.form input[placeholder], .form__add textarea  {
  font-family: $font-open-sans;
  padding: 15px;
  font-size: 19px;
  line-height: 18px;
}
.form__color input[type=checkbox]:checked + label:before {
  background: url(../img/icon-tick.svg) no-repeat 50%;
  font-size: 15px;
  text-align: center;
  line-height: 15px;
}
.form__data label {
  display: flex;
  width: 100%;
  height: 40px;
}
.form__data input, .form__contact-tel input, .form__contact-mail input {
  width: 100%;
  margin-left: 25px;
  border: none;
  border-bottom: 2px solid #000000;
}
.form__data input:hover, .form__contact-tel input:hover, .form__contact-mail input:hover, .form__add textarea:hover {
  border-color: #62d1ba;
}
.form__data input:focus, .form__contact-tel input:focus, .form__contact-mail input:focus, .form__add textarea:focus {
  border-color: #62d1ba;
}
.form__contact-tel label:hover .icon-phone, .form__contact-mail label:hover .icon-mail {
  fill: #46c1ae;
}
.form__contact-tel label:active .icon-phone, .form__contact-mail label:active .icon-mail {
  fill: #bde3dd;
}
.form__contact-tel input {
  background: $bg-grey;
}
.form__contact-mail input {
  background: $bg-grey ;
}
.form__data-required {
    font-family: $font-open-sans;
    color: $font-color-grey;
}
.form__send {
    @include black-white-btn;
    text-transform: uppercase;
}
.form__send:hover {
  @include black-white-btn-hover;
}
.form__send:active {
  @include black-white-btn-down ;
}
.form__text {
  color: $font-color-grey;
}
.form  h2 {
  font-family: $font-open-sans;
  color: $turquoise;
  text-transform: uppercase;
}
.form__contact--content {
  width: 100%;
  background: $bg-grey;
}

@media (min-width: 1151px) {
  .form__text {
    width: 700px;
    margin: 104px auto 0;
    font-size: 17px;
    line-height: 30px;
  }
  .form h2 {
    width: 162px;
    padding-top: 13px;
    font-size: 17px;
    vertical-align: top;
    text-align: center;
  }
  .form__detail {
    width: 770px;
  }
  .form__type  {
    @include desktop-widths;
    padding-top: 56px;
    height: 236px;
  }
  .form__color {
    @include desktop-widths;
    height: 251px;
    padding-top: 61px;
  }
  .form__color .form__detail {
    width: 84%;
  }
  .form__color label {
    width: 26.5%;
  }
  .form__data {
    @include desktop-widths;
    height: 322px;
    padding-top: 49px;
  }
  .form__data label {
    height: 76px;
    margin-bottom: 0;
  }
  .form__data span {
    padding-top: 4px;
    padding-left: 4px;
  }
  .form__data .form__detail {
    width: 700px;
  }
  .form__contact--content {
    height: 250px;
  }
  .form__contact-tel, .form__contact-mail {
    @include desktop-widths;
    height: 73px;
  }
  .form__contact-tel {
    height: 130px;
    padding-top: 54px;
    padding-bottom: 0;
  }
  .form__contact-tel label, .form__contact-mail label {
    height: 74px;
  }
  .form__contact-mail {
    height: 122px;
  }
  .form__contact-tel h2, .form__contact-mail h2 {
    margin-right: -25px;
  }
  .form__add {
    @include desktop-widths;
    flex-wrap: wrap;
    height: 442px;
    padding-top: 64px;
  }
  .form__add textarea {
    width: 700px;
    height: 141px;
    margin-bottom: 80px;
    border: 2px solid #000000;
    outline: none;
    box-sizing: border-box;
  }
  .form input, label {
    font-size: 19px;
  }
  .form__add input, label {
    height: auto;
  }
  .form__send {
    margin-top: -93px;
    margin-left: 175px;
    order: 2;
    width: 231px;
    font-size: 17px;
    padding: 0 10px;
    height: 52px;
  }
  .form__data-required {
    justify-content: flex-end;
    width: 94.2%;
    padding-top: 4px;
    display: inline-flex;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .form__text {
    width: 669px;
    margin: 54px auto 44px;
    font-size: 17px;
    line-height: 30px;
  }
  .form h2 {
    width: 141px;
    font-size: 17px;
    vertical-align: top;
    padding-top: 14px;
  }
  .form__color h2, .form__data-title, .form__contact-title, .form__contact-title {
    padding-left: 15px;
  }
  .form label {
    padding-left: 24px;
  }
  .form__detail {
    width: 500px;
  }
  .form__type  {
    @include tablet-widths;
    height: 191px;
    padding: 13px 50px 0;
  }
  .form__color {
    @include tablet-widths;
    height: 326px;
    padding-top: 62px;
  }
  .form__data {
    @include tablet-widths;
    height: 322px;
    padding-top: 51px;
  }
  .form__data label {
    height: 55px;
  }
  .form__data input[placeholder] {
    margin-top: 12px;
    height: 23px;
    padding-top: 0;
  }
  .form__contact--content label {
    height: 76px;
  }
  .form__contact-tel, .form__contact-mail {
    @include  tablet-widths;
    height: 124px;
  }
  .form__contact-tel .form__detail, .form__contact-mail .form__detail {
    width: 700px;
  }
  .form__contact-tel {
    padding-top: 51px;
  }
  .form__add {
    @include tablet-widths;
    flex-wrap: wrap;
    padding-top: 63px;
  }
  .form__add label {
    margin-right: 0;
  }
  .form__add textarea {
    width: 700px;
    height: 109px;
    margin-bottom: 34px;
    border: 2px solid #000000;
    order: 1;
  }
  .form input, label {
    font-size: 19px;
  }
  .form__color .form__detail {
    width: 550px;
  }
  .form__color label {
    width: 41%;
  }
  .form__add input, label {
    margin-right: 0;
    height: auto;
  }
  .form__add .form__detail {
    width: 527px;
  }
  .form__send {
    margin-top: -38px;
    margin-bottom: 54px;
    order: 2;
    width: 230px;
    padding: 15px 21px;
    margin-left: 12px;
  }
  .form__data-required {
    justify-content: flex-end;
    width: 100%;
    padding-top: 4px;
    display: inline-flex;
    font-size: 16px;
    line-height: 30px;
    order: 3;
  }
}

@media (min-width: 320px) and (max-width: 767px)  {
  .form__text, .form__type, .form__color, .form__data, .form__contact-tel, .form__contact-mail, .form__add {
    display: inherit;
    background-color: #ffffff;
  }
  .form__text {
    max-width: 260px;
    margin: 21px auto 0;
    font-size: 13px;
    line-height: 24px;
  }
  .form h2 {
    width: 162px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 17px;
    vertical-align: top;
  }
  .form__detail {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .form label {
    padding-left: 0;
  }
  .form__type  {
    @include mobile-widths;
    width: auto;
    padding-top: 20px;
    height: 171px;
  }
  .form__type label:before {
    width: 36px;
    height: 36px;
    margin-right: 24px;
  }
  .form input, label {
    margin-bottom: 15px;
  }
  .form__type input[type=radio]:checked + label:before {
    font-size: 56px;
    line-height: 32px;
  }
  .form__color input[type=checkbox]:checked + label:before {
    background-size: 66%;
  }
  .form__type span {
    width: 200px;
    padding-top: 10px;
    line-height: 20px;
  }
  .form__color {
    @include mobile-widths;
    width: auto;
  }
  .form__color label:before {
    background-color: #ffffff;
  }
  .form__color label:before {
    width: 35px;
    height: 37px;
  }
  .form__data {
    @include mobile-widths;
    width: auto;
  }
  .form__data label {
    flex-wrap: wrap;
    height: auto;
  }
  .form__contact-tel, .form__contact-mail {
    @include  mobile-widths;
    padding-top: 25px;
    width: auto;
  }
  .form__add {
    @include mobile-widths;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 47px;
    padding-top: 25px;
    width: auto;
  }
  .form input[placeholder], .form__add textarea {
    margin-bottom: -7px;
    padding: 0 0 16px;
    font-size: 17px;
  }
  .form__add textarea {
    width: 100%;
    height: 144px;
    padding: 15px;
    border: 2px solid #000000;
    order: 1;
    box-sizing: border-box;
  }
  .form input, label {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    font-size: 17px;
    line-height: 18px;
    background-color: #ffffff;
  }
  .form__add input, label {
    height: auto;
    line-height: 47px;
  }
  .form__add h2 {
    order: 1;
    margin-bottom: 28px;
  }
  .form__add .form__detail {
    order: 2;
  }
  .form__send {
    width: 100%;
    margin: -5px 10px 11px 11px;
    padding: 15px 20px;
    order: 3;
  }
  .form__data-required {
    justify-content: flex-end;
    width: 100%;
    display: inline-flex;
    padding: 20px 0;
    font-size: 14px;
    line-height: 12px;
  }
}

