.product-week {
  font-family: $font-open-sans;
  color: $font-color-grey;
  display: flex;
}
.product-week__wrapper {
  display: flex;
  position: relative;
}
.product-week__price {
  display: block;
  text-align: center;
  font-family: $font-open-sans-bold;
}
.product-week__title {
  @include title-h2;
  color: $font-color-black;
}
.product-week__subtitle {
  font-family: $font-open-sans-bold;
  color: $turquoise;
  text-transform: uppercase;
  text-align: center;
}
.product-week__table-size {
  border-collapse: collapse;
}
.product-week__table-size tr {
  border-bottom: 1px solid #ececec;
}
.product-week__order {
  @include black-white-btn;
}
.product-week__order:hover {
  @include black-white-btn-hover;
}
.product-week__order:active {
  @include black-white-btn-down;
}

@media (min-width: 1151px) {
    .product-week {
      margin: 54px auto 73px;
    }
    .product-week__wrapper {
      @include desktop-widths;
    }
    .product-week__detail {
      width: 700px;
      z-index: 1;
    }
    .product-week__title {
      width: 100%;
      margin-left: -3px;
      padding: 52px 0 48px 0;
      font-size: 53px;
      line-height: 57px;
    }
   .product-week__subtitle {
     width: 172px;
     padding: 68px 55px 0 45px;
     vertical-align: top;
     box-sizing: border-box;
     line-height: 16px;
    }
  .product-week__description {
    width: 292px;
    padding-left: 1px;
    font-size: 17px;
    line-height: 30px;
  }
  .product-week__table-size {
    width: 300px;
    margin-top: 47px;
    font-size: 15px;
  }
  .product-week__table-size td {
    height: 39px;
    padding-left: 2px;
    padding-bottom: 1px;
  }
  .product-week_image {
    position: absolute;
    right: 4.7%;
    top: 0;
    height: 100%;
    z-index: -1;
  }
  .product-week__price {
    margin-top: 106px;
    margin-bottom: 33px;
    font-size: 20px;
    width: 304px;
  }
  .product-week__order {
    display: block;
    width: 189px;
    text-align: center;
    margin-left: 2px;
    padding-top: 16px;
    padding-left: 55px;
    padding-right: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .product-week {
    @include tablet-widths;
    padding: 0 5.51%;
    margin: -27px auto 54px;
    position: relative;
  }
  .product-week__detail {
    width: 668px;
  }
  .product-week__title {
    width: 100%;
    margin-left: 2px;
    padding: 55px 0 49px;
    text-align: left;
    font-size: 43px;
    line-height: 50px;
    order: 1;
  }
  .product-week__subtitle {
    position: absolute;
    right: 5px;
    top: 68px;
    width: 100px;
    line-height: 15px;
  }
  .product-week__description {
    width: 294px;
    padding-left: 6px;
    font-size: 17px;
    line-height: 30px;
  }
  .product-week picture {
    position: absolute;
    right: -7px;
    top: 163px;
  }
  .product-week__table-size {
    margin-top: 36px;
  }
  .product-week__table-size td {
    height: 40px;
    padding-right: 17px;
    padding-left: 6px;
  }
  .product-week_image {
    width: 334px;
    height: 400px;
  }
  .product-week__price {
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 20px;
    width: 311px;
  }
  .product-week__order {
    display: block;
    width: 189px;
    margin-left: 6px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .product-week__wrapper {
    @include mobile-widths;
    width: auto;
  }
  .product-week {
    flex-direction: column;
  }
  .product-week__detail {
    padding-left: 12px;
  }
  .product-week__title {
    position: relative;
    width: 100%;
    padding: 30px 0 47px;
    text-align: left;
    font-size: 25px;
    line-height: 30px;
    order: 1;
  }
  .product-week__subtitle {
    position: absolute;
    left: 32px;
    top: 64px;
  }
  .product-week__description {
    padding-right: 10px;
    font-size: 15px;
    line-height: 24px;
  }
  .product-week__table-size {
    margin-top: 23px;
  }
  .product-week__table-size tr {
    height: 30px;
  }
  .product-week__table-size td {
    height: 36px;
    padding-right: 25px;
    font-size: 15px;
  }
  .product-week_image {
    margin-top: 33px;
    width: 97%;
  }
  .product-week__price {
    margin-top: 19px;
    margin-bottom: 26px;
    font-size: 17px;
    line-height: 24px;
    width: 252px;
  }
  .product-week__order {
    display: block;
    width: 154px;
    text-align: center;
  }
}
